<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <context-param>
  		<param-name>myvariableoncontainer</param-name>
  		<param-value>Rajesh</param-value>
  	</context-param>
  
  <servlet>
  	<servlet-name>RegisterationServlet</servlet-name>
  	<display-name>RegisterationServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegisterationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>abc</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<init-param>
  		<param-name>myvariable</param-name>
  		<param-value>Sumanth</param-value>
  	</init-param>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutProfileServlet</servlet-name>
  	<display-name>LogoutProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LogoutProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet1</servlet-name>
  	<display-name>EditProfileServlet1</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EditProfileServlet1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckEmailServlet</servlet-name>
  	<display-name>CheckEmailServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.CheckEmailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadCountryServlet</servlet-name>
  	<display-name>LoadCountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoadCountryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoadCaptchaServlet</servlet-name>
  	<display-name>LoadCaptchaServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoadCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterationServlet</servlet-name>
  	<url-pattern>/RegisterationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>abc</servlet-name>
  	<url-pattern>/pp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutProfileServlet</servlet-name>
  	<url-pattern>/LogoutProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet1</servlet-name>
  	<url-pattern>/EditProfileServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckEmailServlet</servlet-name>
  	<url-pattern>/CheckEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadCountryServlet</servlet-name>
  	<url-pattern>/LoadCountryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoadCaptchaServlet</servlet-name>
  	<url-pattern>/LoadCaptchaServlet</url-pattern>
  </servlet-mapping>
</web-app>
